#wpadminbar #wp-admin-bar-rs-manage > .ab-item::before {
	content: "\f100";
	top: 2px;
}

#wpadminbar #wp-admin-bar-appearance.rs-appearance-node {
	margin-top: 0;
}

#wpadminbar li.rs-has-text-node {
}

#wpadminbar li.rs-has-text-node > a.ab-item {
	line-height: 1 !important;
	height: auto !important;
}

#wpadminbar .rs-text-node {
	font-size: 0.85em;
	line-height: 1.15em;
}

#wpadminbar li.rs-has-text-node > a.ab-item > .rs-text-node {
	margin-top: 0.5em;
}

#wpadminbar .rs-node-description {
	opacity: 0.5;
}

#wpadminbar .dashicons::before {
	font-family: dashicons !important;
}